.activities-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.activities-section {
    background: rgb(225, 222, 222);
    padding: 80px 100px 100px 100px;
}

.header {
    display: flex;
}

.header-icon {
    font-size: 40px;
    font-weight: 900;
    margin-right: 10px;
}

.header span {
    font-size: 35px;
    font-weight: bold;
}

.sub {
    font-size: 16px;
    font-weight: 700;
}

.all-activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cart-section {}

.about-me {
    text-align: center;
}

.break-section {
    margin: 40px 10px 0 10px;
}

.break-time {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    background: rgb(226, 226, 245);
    border-radius: 20px;
    justify-content: space-between;
    padding: 10px 10px;
}

.break-time span {
    background: white;
    border-radius: 50%;
    padding: 20px;
    font-weight: 600;
}

.activities-details {
    margin: 40px 10px 0 10px;
}

.activities-time {
    display: flex;
    justify-content: space-between;
    background: rgb(226, 226, 245);
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}

.Break-time {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    background: rgb(226, 226, 245);
    padding: 20px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
}

.cart-btn {
    margin-top: 40px;
    width: 100%;
    border: none;
    background: rgb(171, 165, 165);
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}